* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-pink {
    background-color: #ef6a9d !important;
}

.bg-orange {
    background-color: #ec622b !important;
}

.bg.light-orange {
    background-color: #fff7ed !important;
}

.text-orange {
    color: #ec622b;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
